
ediacaran/build/
cmake-build-debug/
cambrian/vs2017/x64/
ediacaran/vs2017/x64/
ediacaran/code_blocks/bin/
ediacaran/code_blocks/obj/
tests/vs2017/.vs/
tests/vs2017/x64/
*.user
cambrian/vs2017/Debug/
ediacaran/vs2017/Debug/
tests/vs2017/Debug/
cambrian/vs2017/Release/
ediacaran/vs2017/Release/
tests/vs2017/Release/
tests/code_blocks/bin/
tests/code_blocks/obj/
*.save
silurian/vs2017/x64/
tests/vs2017/.vs/
tests/vs2017/Debug/
silurian/vs2017/.vs/
tests/vulkanic/vulkanic_test/x64/
vulkanic/vs2017/x64/
vulkanic/VulkanMemoryAllocator/
